{% extends "base.html" %}{% load crispy_forms_tags %} {% block content %}
<!-- Button trigger modal -->

<!-- Modal -->

<div class="row">
  <div class="col-3">
    <button class="btn btn-primary" id="play">about</button>
  </div>
  <div class="col-3">
    <button class="btn btn-success" id="stop">blog</button>
  </div>
  <div class="col-3">
    <button class="btn btn-warning" id="start">profile</button>
  </div>
  <div class="col-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-info"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Add Post
    </button>
  </div>
</div>
<div id="text"></div>
<br />
<hr />
<div class="row" id="test"></div>
<div id="event"></div>
<div class="text-center mb-3" id="end-box">
  <button class="btn btn-primary" id="load-more">load more</button>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" class="create-post">
          {% csrf_token %} {{ form|crispy }}
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              close
            </button>
            <button type="submit" class="btn btn-success">+ add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
