{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-4">
    <button class="btn btn-primary" id="play">about</button>
  </div>
  <div class="col-4">
    <button class="btn btn-success" id="stop">blog</button>
  </div>
  <div class="col-4">
    <button class="btn btn-warning" id="start">profile</button>
  </div>
</div>
<div id="text"></div>
<br />
<hr />
<div class="row" id="test"></div>
<div class="text-center" id="spinner">
  <div class="spinner-border" role="status"></div>
</div>
<div class="text-center mb-3" id="end-box">
  <button class="btn btn-primary" id="load-more">load more</button>
</div>
{% endblock %}
